/****** General ***********/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

:root {
    --main-color: #0065fc;
    --main-bg-color: #f2f2f2;
    --filter-bg-color: #deebff;
}

body {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

section {
    margin-top: 40px;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

button {
    cursor: pointer;
    height: 50px;
    font-weight: bold;
    font-size: 18px;
    padding: 0 20px;
    outline: none;
}

.highlight-text {
    font-size: 18px;
    font-weight: bold;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color);
}

/****** Header ***********/

.nav-bar {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* logo */
.logo {
    height: 30px;
}

/* navigation */
.nav-container {
    margin-bottom: 15px;
}

.nav-container a {
    margin-left: 60px;
}

.nav-container a.active {
    position: relative;
    color: var(--main-color);
}

.nav-container a.active::after {
    content: " ";
    position: absolute;
    top: -23px;
    left: 0;
    width: 100%;
    height: 3px;
    background: var(--main-color);
}

/****** section search ***********/

#research {
    margin-top: 40px;
}

/* texte */
#research h1 {
    margin-bottom: 10px;
}

#research .catch-phrase {
    margin-bottom: 40px;
}

/* formulaire de recherche */
.search-form {
    display: flex;
}

.search-bar-label,
.search-bar,
.search-btn {
    display: inline-block;
    height: 50px;
}

.search-bar-label {
    position: relative;
    background: var(--main-bg-color);
    width: 50px;
    border-radius: 15px 0 0 15px;
}

.search-bar-label i {
    color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.search-bar {
    text-align: center;
    border: 1px solid var(--main-bg-color);
}

.search-bar::placeholder {
    color: #000;
}

.search-btn {
    background: var(--main-color);
    color: #fff;
    border: none;
    border-radius: 0 15px 15px 0;
    transition: background 0.2s ease;
}

.search-btn:hover {
    background: #0044aa;
}

.search-btn-mobile {
    display: none;
}

.search-btn-mobile i {
    color: white;
}

/* filtres */
.filter-container {
    margin: 40px 0;
    display: flex;
}

.filter-container p {
    line-height: 50px;
}

.filter-btn {
    margin-left: 30px;
    border-radius: 25px;
    border: 1px solid #333;
    background: white;
}

.filter-btn:hover {
    background: var(--filter-bg-color);
}

.filter-btn i {
    margin-right: 5px;
}

/* info */
.info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.info .icon {
    height: 25px;
    width: 25px;
    border: 1px solid #333;
    position: relative;
    border-radius: 50%;
}

.info i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
}

/****** Hebergements And Populaires ***********/
#hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

#hebergements-and-populaires section {
    border-radius: 20px;
    padding: 30px;
}

section.hebergements,
section.populaires {
    background-color: var(--main-bg-color);
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.hebergement-card {
    margin: 25px 0 50px 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.hebergement-card .card {
    height: 200px;
}

.hebergement-card .card img {
    width: 100%;
    height: 60%;
    border-radius: 20px 20px 0 0;
}

.hebergement-card .card-content {
    height: 40%;
    padding: 5px 0 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.see-more {
    display: inline;
    cursor: pointer;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** section activite ***********/
#activitie {
    padding: 30px;
}

.activitie-container {
    margin: 25px 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.activitie-container .card {
    width: 300px;
    height: 450px;
}

.activitie-container .card img {
    width: 100%;
    height: 90%;
    border-radius: 20px 20px 0 0;
}

.activitie-container .card div {
    height: 10%;
    position: relative;
}

.activitie-container .card div h3 {
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

/****** Footer ***********/
footer {
    background: var(--main-bg-color);
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: space-between;
}

footer div {
    width: 33%;
    display: flex;
    flex-direction: column;
}

footer div a {
    margin-bottom: 15px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    #hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activitie-container .card {
        width: 210px;
        height: 270px;
    }

    .activitie-container .card img {
        height: 75%;
    }

    .activitie-container .card div {
        height: 25%;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 768px) {
    .main-container {
        padding: 0;
    }

    /****** Header ***********/

    .nav-bar {
        height: 115px;
        display: flex;
        flex-direction: column;
    }

    .logo {
        margin-top: 30px;
    }

    .nav-container {
        width: 100%;
        display: flex;
    }

    .nav-container a {
        text-align: center;
        margin-left: 0px;
        width: 50%;
    }

    .nav-container a.active::after {
        top: 30px;
    }

    /****** section search ***********/

    #research {
        margin: 40px 20px 0;
    }

    .search-btn-desktop {
        display: none;
    }

    .search-btn-mobile {
        display: block;
        padding: 0 15px;
    }

    /* filtres */
    .filter-container {
        flex-direction: column;
    }

    .filter {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }

    .filter-btn {
        margin-left: 0px;
        font-size: 14px;
    }

    .filter-btn i {
        font-size: 18px;
    }

    /* info */
    .info .icon {
        height: 25px;
        width: 25px;
    }

    /****** Hebergements And Populaires ***********/
    #hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    #hebergements-and-populaires section {
        border-radius: 0;
        padding: 20px;
    }

    /****** Populaires ***********/
    .populaires-cards {
        flex-direction: column;
    }

    .populaires-cards a {
        width: 100%;
    }

    /****** Hebergements ***********/
    section.hebergements {
        margin-top: 10px;
        background: white;
    }

    .hebergement-card {
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-bottom: 15px;
    }

    /****** section activite ***********/
    .activitie-container {
        flex-direction: column;
        gap: 15px;
    }

    .activitie-container .card {
        width: 100%;
        height: 200px;
    }

    /****** Footer ***********/
    footer {
        padding-bottom: 20px;
        flex-direction: column;
        gap: 30px;
    }

    footer div {
        width: 100%;
    }
}
